textarea {
    padding: 5px 0 5px 5px !important;
}

.radio {
    padding-top: 0 !important;
}
.modal-body {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}
.modal-body .form-horizontal .form-group {
    margin: 0;
    margin-bottom: 15px;
}
.modalInputReadOnly {
    background: none;
    border: 0;
}