<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Spring Security Example </title>
</head>
<body>
<!--
https://spring.io/guides/gs/securing-web/
http://www.mkyong.com/spring-boot/spring-boot-spring-security-thymeleaf-example/
http://www.baeldung.com/thymeleaf-in-spring-mvc
-->

<div>
	<div th:text="${error}"></div>
	<div th:text="${expred}"></div>
	<div th:text="${invalid}"></div>
	<div th:text="${logout}"></div>
	<form th:action=" ${loginProcessingUrl}" method="post">

		<div><label> User Name : <input type="text"  th:name="${usernameParameter}"/> </label></div>
		<div><label> Password: <input type="password" th:name="${passwordParameter}"/> </label></div>
		<div><input type="submit" value="Sign In"/></div>
	</form>
</div>
</body>
</html>






