<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!--    	<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <springProperty name="applicationName" source="spring.application.name" defaultValue="service-monitor"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}|%method[%line]|%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home:-log}/${applicationName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home:-log}/${applicationName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--            <maxHistory>30</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}|%method[%line]|%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework" level="DEBUG"></logger>
    <logger name="reactor.netty.http.client.HttpClient" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
    <logger name="org.hibernate.loader.Loader" level="OFF"/>
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.metamodel.model.convert.internal.NamedEnumValueConverter" level="TRACE"/>

</configuration>

