<main role="main">
    <web-core-inline-navigation *ngIf="router && router.url" [url]="router.url"></web-core-inline-navigation>
    <div class="d-flex flex-column p-3 my-3 rounded" style="border: 1px solid #c8c8c8">
        <div class="p-2 bd-highlight">
            <form>
                <div class="form-row">
                    <div class="form-inline form-group col-md-4">
                        <label for="ptntNm" class="col-5">{{'Name' | i18n}}</label>
                        <input type="text" id="ptntNm" name="ptntNm" class="form-control col-7" placeholder="{{'Name' | i18n}}" [(ngModel)]="where.ptntNm" (keyup.enter)="search()" autofocus>
                    </div>
                    <div class="form-inline form-group col-md-4">
                        <label for="gen" class="col-5">{{'Gender' | i18n}}</label>
                        <select class="form-control col-7" id="gen" id="gen" name="gen" [(ngModel)]="where.gen">
                            <option value="" selected="">{{'All' | i18n}}</option>
                            <option [value]="code.cd" *ngFor="let code of codeService.getChildCodes('GEC000'); let i = index">
                                {{code.cd | i18n}}
                            </option>
                        </select>
                    </div>
                    <div class="form-inline form-group col-md-4">
                        <label for="fromAge" class="col-5">{{'Age' | i18n}}</label>
                        <input type="number" id="fromAge" name="fromAge" class="form-control col-3" placeholder="{{'Age' | i18n}}" [(ngModel)]="where.fromAge" (keyup.enter)="search()">
                        <div class="col-1 text-center m-0 p-0">~</div>
                        <input type="number" id="toAge" name="toAge" class="form-control col-3" placeholder="{{'Age' | i18n}}" [(ngModel)]="where.toAge" (keyup.enter)="search()">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-inline form-group col-md-4">
                        <label for="hpoProcStatCd" class="col-5">Phenotype {{'Data' | i18n}}</label>
                        <select class="form-control col-7" id="hpoProcStatCd" name="hpoProcStatCd" [(ngModel)]="where.hpoProcStatCd">
                            <option value="" selected="">{{'All' | i18n}}</option>
                            <option [value]="code.cd" *ngFor="let code of codeService.getChildCodes('FST000'); let i = index">
                                {{code.cd | i18n}}
                            </option>
                        </select>
                    </div>
                    <div class="form-inline form-group col-md-4">
                        <label for="mriProcStatCd" class="col-5">MRI {{'Data' | i18n}}</label>
                        <select class="form-control col-7" id="mriProcStatCd" name="mriProcStatCd" [(ngModel)]="where.mriProcStatCd">
                            <option value="" selected="">{{'All' | i18n}}</option>
                            <option [value]="code.cd" *ngFor="let code of codeService.getChildCodes('FST000'); let i = index">
                                {{code.cd | i18n}}
                            </option>
                        </select>
                    </div>
                    <div class="form-inline form-group col-md-4">
                        <label for="vcfProcStatCd" class="col-5">VCF {{'Data' | i18n}}</label>
                        <select class="form-control col-7" id="vcfProcStatCd" name="vcfProcStatCd" [(ngModel)]="where.vcfProcStatCd">
                            <option value="" selected="">{{'All' | i18n}}</option>
                            <option [value]="code.cd" *ngFor="let code of codeService.getChildCodes('FST000'); let i = index">
                                {{code.cd | i18n}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-2 d-flex justify-content-end bd-highlight">
            <a class="btn btn-sm btn-outline-secondary" (click)="resetWhere()">reset</a>
            <button type="button" class="btn btn-success btn-sm ml-1" style="width: 100px" [routerLink]="['./_']">{{'Register' | i18n}}</button>
            <button type="button" class="btn btn-secondary btn-sm ml-1" style="width: 100px" (click)="search()">{{'Search' | i18n}}</button>
        </div>
        <!--        <div class="p-2 bd-highlight">-->
        <!--            -->
        <!--        </div>-->
    </div>


    <div class="d-flex flex-column p-3 my-3 rounded" style="border: 1px solid #c8c8c8">
        <web-core-patient-datatable [where]="where"></web-core-patient-datatable>
    </div>
</main>
<web-core-disease-modal></web-core-disease-modal>
