<div *ngIf="type === 'inline'; then inline else block"></div>
<ng-template #inline>
    <a class="{{class}}" *ngIf="userDetails" (click)="show()">
        <i-feather name="user" class="sub-icon"></i-feather>
        {{oldUserDetails.admNm}}
    </a>
</ng-template>
<ng-template #block>
    <div class="row">
        <div class="col-4">
            <i-feather name="user" class="sub-icon" style="width: 150px; height: 150px;"></i-feather>
        </div>
        <div class="col-8">
            <div class="row my-2">
                <div class="col-4">{{'Affiliation' | i18n}}:</div>
                <div class="col-8">{{oldUserDetails?.companyNm || '-'}}</div>
            </div>
            <div class="row my-2">
                <div class="col-4">{{'Name' | i18n}}:</div>
                <div class="col-8">{{oldUserDetails?.admNm || '-'}}</div>
            </div>
            <div class="row my-2">
                <div class="col-4">{{'Job' | i18n}}:</div>
                <div class="col-8">{{(oldUserDetails?.jobCd || '-') | i18n}}</div>
            </div>
            <div class="row my-2">
                <div class="col-4">{{'UseDate' | i18n}}:</div>
                <div class="col-8">{{(oldUserDetails?.startDt || '-') | moment: 'YYYY.MM.DD'}} ~ {{(oldUserDetails?.endDt || '-') | moment: ' YYYY.MM.DD'}}</div>
            </div>
            <div class="row my-2">
                <button class="btn btn-secondary btn-sm ml-5" style="width: 130px" (click)="show()">{{'Detail' | i18n}}</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">
            <i-feather name="info" class="head-icon mr-2" style="height: 15px; width: 15px"></i-feather>
            {{'Account' | i18n}} {{'Update' | i18n}}
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="infoForm" *ngIf="userDetails">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">* Seq</label>
                <div class="col-sm-9 col-form-label">
                    <input type="hidden" name="admSeq" formControlName="admSeq" placeholder="{{'No' | i18n}}" class="form-control" [(ngModel)]="userDetails.admSeq" readonly>
                    {{ userDetails.admSeq }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">* {{'Id' | i18n}}</label>
                <div class="col-sm-9 col-form-label">
                    {{ userDetails.admLginId }}
                </div>
            </div>
            <div class="form-group row">
                <label for="admNm" class="col-sm-3 col-form-label">* {{'Name' | i18n}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="admNm" name="admNm" formControlName="admNm" placeholder="{{'Name' | i18n}}" [(ngModel)]="userDetails.admNm">
                </div>
            </div>
            <div class="form-group row">
                <label for="admNm" class="col-sm-3 col-form-label">{{'Password' | i18n}}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="admLginPw" name="admLginPw" formControlName="admLginPw" placeholder="{{'Password' | i18n}}" #admLginPw autocomplete="password" [(ngModel)]="userDetails.admLginPw">
                </div>
            </div>
            <div class="form-group row">
                <label for="admNm" class="col-sm-3 col-form-label">{{'Password' | i18n}} {{'word.ok' | i18n}}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="admLginPwc" name="admLginPwc" formControlName="admLginPwc"  placeholder="{{'Password' | i18n}} {{'word.ok' | i18n}}" autocomplete="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">{{'Email' | i18n}}</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" formControlName="email" [(ngModel)]="userDetails.email">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">{{'Home' | i18n}} URL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="homeUrl" name="homeUrl" formControlName="homeUrl" [(ngModel)]="userDetails.homeUrl">
                </div>
            </div>
            <div class="form-group row">
                <label for="useCd" class="col-sm-3 col-form-label">* {{'Status' | i18n}}</label>
                <div class="col-sm-9">
                    <select class="form-control" id="useCd" name="useCd" formControlName="useCd" [(ngModel)]="userDetails.useCd">
                        <option [value]="code.cd" *ngFor="let code of codeService.getChildCodes('USE000'); let i = index">
                            {{code.cd | i18n}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">* {{'RegistDt' | i18n}}</label>
                <div class="col-sm-9 col-form-label">
                    {{ userDetails.regDt | moment }}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="padding: 3px;">
        <button type="button" style="width:80px; font-size: 0.8rem;" class="btn btn-primary btn-sm" (click)="update()">{{'Yes' | i18n}}</button>
        <button type="button" style="width:80px; font-size: 0.8rem;" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="no()">{{'No' | i18n}}</button>
    </div>

</ng-template>

