<div id="content">
    <div class="no-margin">
        <div class="col-sm-12 headTitle">
            <div class="row well no-margin">
                <form class="row">
                    <fieldset class="smart-form">
                        <div class="row">
                            <div class="col col-sm-10">
                                <label class="col-sm-1 text-right">{{'DateScope' | i18n}}</label>
                                <section class="col col-sm-3">
                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="date" id="startdate" [saUiDatepicker]="{minRestrict:'#enddate', dateFormat:'yy.mm.dd'}" placeholder="{{'Select' | i18n}} {{'Date' | i18n}}" (change)="selectStartDate($event)" (dateChange)="selectStartDate($event)"/>
                                    </label>
                                </section>
                                <section class="col col-sm-3">
                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="date" id="enddate" [saUiDatepicker]="{maxRestrict:'#startdate', dateFormat:'yy.mm.dd'}" placeholder="{{'Select' | i18n}} {{'Date' | i18n}}" (change)="selectEndDate($event)" (dateChange)="selectEndDate($event)"/>
                                    </label>
                                </section>
                            </div>
                            <div class="col col-sm-2">
                                <section class="col col-sm-12">
                                </section>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="row margin-top-10 margin-bottom-10">
                <div class="col-md-12">
                    <button *ngIf="userService.isAceept() && userService.isAcceptUrl(router.url, 'GET')" type="button" class="btn btn-info margin-right-5 pull-right" (click)="search()">{{'Search' | i18n}}</button>
                    <button type="button" class="btn btn-primary margin-right-5 pull-right" (click)="router.navigate(['/clinical/participant'])">{{'List' | i18n}}</button>
                </div>
            </div>

            <div class="well">
                <sa-flot-chart [data]="data" [options]="options" ></sa-flot-chart>
            </div>
        </div>
    </div>
</div>
<app-conformity-details-modal></app-conformity-details-modal>

